footer.footer(data-aos='fade-up')
  .container
  img(src='images/footer/logo.png', alt='')
  .footer__title
  address.footer__contacts
    p New York, Street, ZIP code
    | Call Us: 
    a.link--hover(href='tel:+9948373123') +9948373123 
    | or E-mail:
    a.link--hover(href='mailto:hello@centerlogistic.com') hello@centerlogistic.com
  nav.footer__nav
    a.link--hover(href='#') Terms & Conditions
    a.link--hover(href='text.html') Privacy Policy
    a.link--hover(href='blog.html') Our blog
// /.footer