$white: #fff;
$black: #000;
$gray: #585858;
$link-gray: #6e6e6e;
$underline-gray: #e8e8e8;
$lighter-black: #2c2c2c;
$red: #ff3e2f;
$blue: #004af2;
$dark-blue: #033fc9;
$blue-title: #0d53f2;
$gradient-orange: #ff903e;
$gradient-red: #ff2c2c;
$gradient-gray: #a5a5a5;
$section-gray: #f9f9f9;
$button-gray: #dbdbdb;
